@keyframes onTheLeft {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.header {
  position: relative;
  padding-top: 40px;
  min-height: 695px;

  display: flex;
  justify-content: start;
  align-items: center;

  background-color: var(--header-bg);
  color: var(--header-text);
  text-align: center;
  overflow: hidden;
}

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header-bg img {
  width: auto;
  height: auto;
  max-width: none;
  object-fit: none;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: transform 10s ease;
}

.header:hover .header-bg img {
  transform: translate(-50%, -50%) scale(1.2);
}

.img__iam {
  padding: 0 15px;
  max-width: 600px;
  mask-image: radial-gradient(circle at center, black 60%, transparent 100%);
  animation: onTheLeft 3s cubic-bezier(0.12, 0, 0.39, 0) 0s 1 normal forwards;
}

.header__wrapper {
  padding: 0 15px;
  max-width: 660px;
}

.header__title {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
}

.header__title strong {
  font-size: 60px;
  font-weight: 700;
}

.header__title em {
  font-style: normal;
  color: var(--accent);
}

.header__text {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.333;
}

.header__text p + p {
  margin-top: 0.5em;
}
